@use "sass:color";
@use "../_variables";
@use "_mixins";
@use "../../../lara-light/blue/theme";

.p-organizationchart {
    .p-organizationchart-node-content {
        &.p-organizationchart-selectable-node:not(.p-highlight):hover {
            background: variables.$inputListItemHoverBg;
            color: variables.$inputListItemTextHoverColor;
        }

        &.p-highlight {
            background: theme.$highlightBg;
            color: theme.$highlightTextColor;

            .p-node-toggler {
                i {
                    color: color.adjust(theme.$highlightBg, $lightness: -25%);
                }
            }
        }
    }

    .p-organizationchart-line-down {
        background: variables.$organizationChartConnectorColor;
    }

    .p-organizationchart-line-left {
        border-right: variables.$panelContentBorder;
        border-color: variables.$organizationChartConnectorColor;
    }

    .p-organizationchart-line-top {
        border-top: variables.$panelContentBorder;
        border-color: variables.$organizationChartConnectorColor;
    }

    .p-organizationchart-node-content {
        border: variables.$panelContentBorder;
        background: variables.$panelContentBg;
        color: variables.$panelContentTextColor;
        padding: variables.$panelContentPadding;
    }

    .p-organizationchart-node-content .p-node-toggler {
        background: inherit;
        color: inherit;
        border-radius: 50%;

        &:focus-visible {
            @include mixins.focused();
        }
    }
}
