@use "sass:color";
@use "../_variables";
@use "blue/theme";

@mixin focused-ring($ring-color) {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $ring-color,
        0 1px 2px 0 rgba(0, 0, 0, 1);
}

@layer primeng {
    .p-button-label {
        font-weight: 700;
    }

    .p-selectbutton > .p-button,
    .p-togglebutton.p-button {
        transition: background-color variables.$transitionDuration,
            border-color variables.$transitionDuration, box-shadow variables.$transitionDuration;
    }

    .p-accordion {
        .p-accordion-header {
            .p-accordion-header-link {
                transition: background-color variables.$transitionDuration,
                    border-color variables.$transitionDuration,
                    box-shadow variables.$transitionDuration;
            }
        }
    }

    .p-tabview {
        .p-tabview-nav {
            li {
                .p-tabview-nav-link {
                    transition: background-color variables.$transitionDuration,
                        border-color variables.$transitionDuration,
                        box-shadow variables.$transitionDuration;
                }
            }
        }
    }

    .p-tabmenu {
        .p-tabmenu-nav {
            .p-tabmenuitem {
                .p-menuitem-link {
                    transition: background-color variables.$transitionDuration,
                        border-color variables.$transitionDuration,
                        box-shadow variables.$transitionDuration;
                }
            }
        }
    }

    .p-carousel {
        .p-carousel-indicators .p-carousel-indicator.p-highlight button {
            background-color: theme.$primaryColor;
        }
    }

    .p-galleria {
        .p-galleria-indicators .p-galleria-indicator.p-highlight button {
            background-color: theme.$primaryColor;
        }
    }

    .p-button {
        &:focus {
            @include focused-ring(color.scale(variables.$buttonBg, $lightness: 50%));
        }

        &.p-button-secondary:enabled:focus {
            @include focused-ring(
                color.scale(variables.$secondaryButtonBg, $lightness: 50%)
            );
        }

        &.p-button-success:enabled:focus {
            @include focused-ring(
                color.scale(variables.$successButtonBg, $lightness: 50%)
            );
        }

        &.p-button-info:enabled:focus {
            @include focused-ring(color.scale(variables.$infoButtonBg, $lightness: 50%));
        }

        &.p-button-warning:enabled:focus {
            @include focused-ring(
                color.scale(variables.$warningButtonBg, $lightness: 50%)
            );
        }

        &.p-button-help:enabled:focus {
            @include focused-ring(color.scale(variables.$helpButtonBg, $lightness: 50%));
        }

        &.p-button-danger:enabled:focus {
            @include focused-ring(
                color.scale(variables.$dangerButtonBg, $lightness: 50%)
            );
        }
    }

    .p-datatable {
        .p-datatable-tbody {
            > tr {
                &.p-datatable-dragpoint-top > td {
                    box-shadow: inset 0 2px 0 0 theme.$primaryColor;
                }

                &.p-datatable-dragpoint-bottom > td {
                    box-shadow: inset 0 -2px 0 0 theme.$primaryColor;
                }
            }
        }
    }

    .p-speeddial-item {
        &.p-focus > .p-speeddial-action {
            @include focused-ring(color.scale(variables.$buttonBg, $lightness: 50%));
        }
    }

    .p-toast-message {
        backdrop-filter: blur(10px);
    }

    .p-inline-message-text {
        font-weight: 500;
    }

    .p-picklist-buttons .p-button,
    .p-orderlist-controls .p-button {
        transition: opacity variables.$transitionDuration,
            background-color variables.$transitionDuration, color variables.$transitionDuration,
            border-color variables.$transitionDuration, box-shadow variables.$transitionDuration;
    }

    .p-steps {
        .p-steps-item {
            &.p-highlight {
                .p-steps-number {
                    background: theme.$primaryColor;
                    color: theme.$primaryTextColor;
                }
            }
        }
    }
}
